/* :root {
        --ion-background-color: #3dc2ff;
      }
      .ios {
        --ion-text-color: #69bb7b;
      }
      .md {
        --ion-text-color: #69bb7b;
      } */
#toolbar {
  display: flex !important;
}