/* :root {
        --ion-background-color: #3dc2ff;
      }
      .ios {
        --ion-text-color: #69bb7b;
      }
      .md {
        --ion-text-color: #69bb7b;
      } */

#myBar {
  width: 10%;
  height: 30px;
  background-color: #04aa6d;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}
